@import "tailwindcss";

@theme {
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);
}

:root {
  --color-primary-50: #f7f7ef;
  --color-primary-100: #e9ead7;
  --color-primary-200: #d7d5b1;
  --color-primary-300: #c0bb84;
  --color-primary-400: #ada462;
  --color-primary-500: #9e9254;
  --color-primary-600: #877847;
  --color-primary-700: #6d5d3b;
  --color-primary-800: #5d4e36;
  --color-primary-900: #514432;
  --color-primary-950: #2e251a;
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.1s ease-out;
  }

  .animate-scaleIn {
    animation: scaleIn 0.2s ease-out;
  }
}
